.MainChat
  .MainChat__Header
    .CurrentGroup
      %h2.CurrentGroup--Title
        TECH CAMP エンジニア転職
      %ul.CurrentGroup__MemberList
        Member：
        %li.CurrentGroup__MemberList--Member
          Tsutsujun
        %li.CurrentGroup__MemberList--Member
          Junko
    = link_to "#", class:"EditBtn" do
      Edit
  .MainChat__MessageList
    %p.MessageInfo__TopBox--Name
      Tsutsujun
    %p.MessageInfo__TopBox--Date
      2020/04/18(Sat) 09:00:00
  .MainChat__Footer
