.MainChat
  .MainChat__Header
    .CurrentGroup
      %h2.CurrentGroup--Title
        TECH CAMP エンジニア転職
      %ul.CurrentGroup__MemberList
        Member：
        %li.CurrentGroup__MemberList--Member
          Tsutsujun
        %li.CurrentGroup__MemberList--Member
          Junko
    = link_to "#", class:"EditBtn" do
      Edit
  .MainChat__MessageList
    .MessageInfo
      .MessageInfo__TopBox
        %p.MessageInfo__TopBox--Name
          Tsutsujun
        %p.MessageInfo__TopBox--Date
          2020/04/18(Sat) 09:00:00
      %p.MessageInfo--TextOrImg
        はじめまして！夜間休日スタイル転職コース・76期生の堤淳一です！
        %br
        よろしくお願いいたします！m(_ _)m
  .MainChat__Footer
