.MainChat
  .MainChat__Header
    .CurrentGroup
      %h2.CurrentGroup--Name
        TECH CAMP エンジニア転職
      %ul.CurrentGroup__MemberList
        Member：
        %li.CurrentGroup__MemberList--Memeber
          Tsutsujun
    = link_to "#", class:"EditBtn" do
      Edit
  .MainChat__MessageList
  .MainChat__Footer
