.SideBar
  .SideBar__Header
    .SideBar__Header__UserPlate
      .SideBar__Header__UserPlate--Name
        Tsutsujun
      .SideBar__Header__UserPlate__Items
        = link_to "#", class: "SideBar__Header__UserPlate__Items--Btn" do
          = icon('far', 'edit', class: "SideBar__Header__UserPlate__Items--Icon")
          %span<>
        = link_to "#", class: "SideBar__Header__UserPlate__Items--Btn" do
          = icon('fas', 'cog', class: "SideBar__Header__UserPlate__Items--Icon")
  .SideBar__GroupList
