.SideBar
  .SideBar__Header
    .SideBar__Header__UserPlate
      .SideBar__Header__UserPlate--Name
        Tsutsujun
      .SideBar__Header__UserPlate__Icons
        = icon('far', 'edit', class: "SideBar__Header__UserPlate__Icons--btn")
        = icon('fa', 'cog', class: "SideBar__Header__UserPlate__Icons--btn")
  .SideBar__GroupList
