* {
  box-sizing: border-box;
}

.SideBar {
  background-color: #253141;
  width: 300px;
  height: 100vh;
  float: left;
  &__Header {
    background-color: inherit;
    height: 100px;
    display: flex;
    align-items: center;
    &__UserPlate {
      background-color: #d8d8d8;
      width: 260px;
      line-height: 20px;
      margin: 0 20px;
      display: flex;
      justify-content: space-between;
      &--Name {
        background-color: gray;
        width: 100px;
      }
      &__Icons {
        background-color: gray;
        width: 60px;
        &--btn {
        }
      }
    }
  }
  &__GroupList {
    background-color: #2f3e51;
    height: calc(100vh - 100px);
  }
}

.MainChat {
  background-color: #ffffff;
  width: calc(100vw - 300px);
  height: 100vh;
  float: left;
  &__Header {
    background-color: inherit;
    height: 100px;
    border-bottom: #eeeeee solid 1px;
  }
  &__MessageList {
    background-color: #fafafa;
    height: calc(100vh - 100px - 90px);
  }
  &__Footer {
    background-color: #d2d2d2;
    height: 90px;
  }
}
